.body {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Fira code", monospace;
  background-color: #282828;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body__header {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}

.header {
  background-color: #1d2021;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  width: 50px;
  height: 50px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header__nav-item {
  text-transform: uppercase;
  letter-spacing: -1px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #fbf1c7;
  padding: 5px;
}

.header__nav-item:hover {
  color: #458588;
}

.header__nav-item_active {
  background-color: #fbf1c7;
  border-radius: 5px;
  color: #282828;
}

.header__account {
  width: 30px;
  height: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body__main {
  padding: 20px;
  width: 800px;
  box-sizing: border-box;
}

@media (max-width: 840px) {
  .body__main {
    width: 100%;
  }
}

.main__table-of-contents {
  width: 400px;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .main__table-of-contents {
    width: 100%;
  }
}

.table-of-contents {
  background-color: #1d2021;
  border: 2px solid #fabd2f;
  color: #fbf1c7;
  border-radius: 6px;
}

.main__post-list {
  width: 400px;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .main__post-list {
    width: 100%;
  }
}

.post-list {
  background-color: #1d2021;
  border: 2px solid #fabd2f;
  color: #fbf1c7;
  border-radius: 6px;
  list-style: disc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.post-list__link {
  color: #fbf1c7;
  font-size: 24px;
}

.main__article {
  width: 100%;
}

.article {
  color: #fbf1c7;
  text-align: justify;
  line-height: 1.5;
  word-spacing: 1px;
}

.article__img {
  box-sizing: border-box;
  box-shadow: 4px 4px 8px #fbf1c7;
  width: 100%;
  margin-bottom: 10px;
}

.article__preformatted {
  font-family: "Fira code", monospace;
  background-color: #1d2021;
  color: #b8bb26;
  padding: 10px;
  border-radius: 8px;
}

.article__code {
  text-wrap: wrap;
}

.article__table {
  width: 100%;
  background-color: #1d2021;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  overflow-x: auto;

  thead, tbody, tr {
    display: contents;
  }

  th, td {
    padding: 10px;
  }

  th {
    background-color: #504945;
  }

  tr:nth-child(even) td {
    background: #282828;
  }
  
  tr:nth-child(odd) td {
    background: #3c3836;
  }  
}

.main__comments {
  width: 400px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .main__comments {
    width: 100%;
  }
}

.comments {
  color: #fbf1c7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: start;
}

.comment-form {
  border-radius: 6px;
  border: 2px solid #fbf1c7;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.comment-form__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-form__label {

}

.comment-form__input {
  padding: 6px;
  color: #fbf1c7;
  background-color: #1d2021;
  border: 1px solid #fbf1c7;
  border-radius: 7px;
}

.comment-form__textarea {
  padding: 6px;
  color: #fbf1c7;
  background-color: #1d2021;
  border: 1px solid #fbf1c7;
  border-radius: 7px;
  min-height: 100px;
}

.comment-form__submit {
  padding: 10px;
  color: #fbf1c7;
  background-color: #1d2021;
  /* border: 2px solid #98971a; */
  border-radius: 7px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment {
  border: 1px solid #fbf1c7;
  border-radius: 15px;
  padding: 12px;
}

.comment__author {}

.comment__text {}

.body__footer {
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
}

.footer {
  background-color: #1d2021;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__links {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer__copyright {
  color: #fbf1c7;
}

.footer__timing {
  color: #fbf1c7;
}

.footer__github-link {
  color: #fbf1c7;
  text-decoration: none;
}

.footer__image {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 800px) {
  .footer__image {
    display: none;
  }
}

